In [1]:
from utilities_IGNOBEL import *

In [2]:
"""Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato"""
#RoseSS = rose_complete()

#RoseFG = rose()

#labels = RoseFG.columns
#Rose = RoseSS[labels]

'Usare queste rose se FG non ha quelle corrette, e.g. durante il mercato'

In [4]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [14]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
V = bonus_panchina(giornata=7) 
V
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Bonus Panchinari,0,0,1.5,3.0,0,1.5,0,2.0

In [15]:
G = goal_subiti(giornata=7)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Goal subiti,1,1,1,1,0,4,0,1

In [16]:
M = modificatore(giornata=7) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Modificatore,1.0,0,0,1.0,1.0,0.5,0,0

In [17]:
C = cartellini(giornata=7)
C

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
C. gialli,2,1,1,3,1,0,0,1
C. rossi,0,1,0,0,0,0,0,0

In [18]:
CI = count_inf(infortunati(giornata = 7), rose()) #restituisce il numero di infortunati in ogni rosa
##NOTA: usa Rose definito sopra nel caso in cui FG non ha le rose corrette e quindi serve usare lo spreadsheet
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,4,6,5,6,5,1,2,6

In [19]:
F = fantapunti_fatti(giornata=7)

In [20]:
S = fantapunti_subiti(giornata=7)

In [21]:
#tot = IGNOBEL_tot(giornata=6) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
output = pd.concat([F,S,G,C,V,M,CI], axis = 0).T #enormi problemi di connessione, quindi ho dovuto dividere in singole tasks
tot = output.T
tot

,IGNORANZA EVERYWHERE,MAINZ NA GIOIA,XYZ,AS 800A,PALLA PAZZA,I DISEREDATI,SOROS FC,PDG 1908
Fantapunti Fatti,66.50,69.75,69.00,67.25,75.00,66.75,69.50,69.25
Fantapunti Subiti,69.75,66.50,67.25,69.00,66.75,75.00,69.25,69.50
Goal subiti,1.00,1.00,1.00,1.00,0.00,4.00,0.00,1.00
C. gialli,2.00,1.00,1.00,3.00,1.00,0.00,0.00,1.00
C. rossi,0.00,1.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,0.00,1.50,3.00,0.00,1.50,0.00,2.00
Modificatore,1.00,0.00,0.00,1.00,1.00,0.50,0.00,0.00
tot Infortunati,6.00,6.00,4.00,5.00,6.00,5.00,2.00,1.00

In [3]:
tot = IGNOBEL_tot(giornata=15)
tot

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,61.75,73.00,61.50,66.25,64.25,70.00,68.25,80.00
Fantapunti Subiti,73.00,61.75,66.25,61.50,70.00,64.25,80.00,68.25
Goal subiti,0.00,2.00,2.00,0.00,0.00,0.00,1.00,0.00
C. gialli,1.00,0.00,2.00,1.00,3.00,2.00,1.00,3.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,2.00,1.75,0.00,1.50,3.75,0.00,1.50
Modificatore,0.00,0.00,1.00,0.00,1.00,1.00,0.50,1.00
tot Infortunati,2.00,6.00,3.00,1.00,3.00,2.00,3.00,3.00

In [4]:
tot.to_pickle("Dati_storici/Giornata_15.pkl")

In [5]:
G = pd.read_pickle("Dati_storici/Giornata_15.pkl")
G

,AS 800A,PDG 1908,IGNORANZA EVERYWHERE,SOROS FC,MAINZ NA GIOIA,PALLA PAZZA,I DISEREDATI,XYZ
Fantapunti Fatti,61.75,73.00,61.50,66.25,64.25,70.00,68.25,80.00
Fantapunti Subiti,73.00,61.75,66.25,61.50,70.00,64.25,80.00,68.25
Goal subiti,0.00,2.00,2.00,0.00,0.00,0.00,1.00,0.00
C. gialli,1.00,0.00,2.00,1.00,3.00,2.00,1.00,3.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,2.00,1.75,0.00,1.50,3.75,0.00,1.50
Modificatore,0.00,0.00,1.00,0.00,1.00,1.00,0.50,1.00
tot Infortunati,2.00,6.00,3.00,1.00,3.00,2.00,3.00,3.00

In [5]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [6]:
storico_individuale(nome = 'luca', giornata = 15) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0   gg     pf     ps gs  c   pan  mod inf  nome
1    1  72.25   67.5  0  6     0    0   7  luca
2    2     77  64.25  2  1     0    0   5  luca
3    3   73.5   70.5  1  2  1.75    0   3  luca
4    4     65     65  0  2     3  0.5   4  luca
5    5     66  67.25  2  2     0    0   4  luca
6    6  70.25     71  1  2   1.5  0.5   5  luca
7    7     69  67.25  1  1   1.5    0   4  luca
8    8  69.75  73.75  1  2   0.5    0   3  luca
9    9   66.5   62.5  2  4     1    0   2  luca
10  10  67.25  70.75  1  1     0    1   2  luca
11  11  67.75  69.25  2  1   1.5    0   3  luca
12  12   74.5  72.25  0  2     0  1.5   4  luca
13  13   67.5  73.75  0  2   0.5    1   4  luca
14  14  71.75     73  1  2     0    1   4  luca
15  15     80  68.25  0  3   1.5    1   3  luca

In [7]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata = 15)

Dati aggiornati fino alla 15 giornata

In [2]:
#scarica le statistiche di ogni giocatori e li incrocia con le rose nel database FPF per associarli ad ogni squadra nella lega
#ST = stats_by_team(primavera = True, personal = True)
#ST.to_pickle("Statistiche_giocatori.pkl")
#ST

In [3]:
personal_info('MUSSO', ST)

('06/05/1994', '26', 'Musso Juan', 'Argentina, Italia')

In [3]:
#include svincolati
ST = stats_by_team_full(primavera = True)
ST

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,...,Au,Qt. A,Qt. I,Diff.,Classe,Eta',Nome Completo,Nazionalit'a,Nome Squadra,Allenatore
0,2610,A,RONALDO,Juventus,14,6.39,9.46,11,0,0,...,0,49,48,1,05/02/1985,36,Cristiano Ronaldo,Portogallo,AS 800A,enzo
1,2531,A,LUKAKU,Inter,17,6.62,8.91,9,0,0,...,0,44,42,2,13/03/1993,28,Lukaku Romelu,"Belgio, Repubblica Democratica del Congo",SOROS FC,musci8
2,785,A,IMMOBILE,Lazio,16,6.50,8.56,9,0,0,...,0,42,49,-7,20/02/1990,31,Immobile Ciro,Italia,PALLA PAZZA,nanni
3,507,A,MURIEL,Atalanta,15,6.73,9.19,9,0,0,...,0,37,27,10,16/04/1991,30,Muriel Luis,Colombia,PDG 1908,pietro
4,441,A,BELOTTI,Torino,17,6.68,8.44,7,0,0,...,0,36,29,7,20/12/1993,28,Belotti Andrea,Italia,XYZ,luca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555,4387,A,ADORANTE,Parma,1,0.00,0.00,0,0,0,...,0,1,1,0,05/02/2000,21,Adorante Andrea,Italia,svincolato,None
556,4335,A,SCHIAPPACASSE,Sassuolo,1,6.00,6.00,0,0,0,...,0,1,1,0,12/01/1999,22,Schiappacasse Nicolas,"Uruguay, Italia",SOROS FC - PRIMAVERA,musci8
557,4938,A,MORO,Lazio,0,0.00,0.00,0,0,0,...,0,1,1,0,05/12/2002,19,Moro Raul,Spagna,svincolato,None
558,5361,A,RABBI,Bologna,4,0.00,0.00,0,0,0,...,0,1,1,0,30/10/2001,20,Rabbi Simone,Italia,svincolato,None
559,5378,A,ODDEI,Sassuolo,1,5.50,5.50,0,0,0,...,0,1,1,0,18/09/2002,19,Oddei Brian,"Italia, Ghana",svincolato,None

In [4]:
ST.rename(columns = {'Qt. A': 'Qt_A','Qt. I': 'Qt_I'},inplace=True)
ST.to_pickle("Statistiche_giocatori.pkl")