In [1]:
from utilities_IGNOBEL import *

In [4]:
#infortunati(giornata=1) #restituisce una singola lista con tutti gli infortunati di ogni squadra di serie A per la giornata indicata

In [2]:
#rose() #restituisce le rose attuali di ogni fantallenatore

In [3]:
#formazioni() #restituisce le formazioni schierate in ogni giornata (inclusa la panchina)

In [2]:
#per qualche strano motivo a volte da errore la prima volta che gira, 
#ma funziona le volte successive, potrebbe essere un caso
B = bonus_panchina(giornata=2) 
B
# restituisce i voti dei panchinari che non sono scesi in campo (link diverso temp)

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Bonus Panchinari,0,1.75,0,0,0.75,3.5,0.75,1.5

In [3]:
G = goal_subiti(giornata=2)
G
# restituisce il totale dei gol subiti da ogni portiere sceso in campo

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Goal subiti,2,3,2,1,3,1,1,0

In [2]:
M = modificatore(giornata=2) 
M
# restituisce il bonus modificatore difesa guadagnato da ogni squadra

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Modificatore,0,1.5,0,0,1.0,1.0,0,0.5

In [3]:
C = cartellini(giornata=2)
C

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
C. gialli,3,1,1,3,1,1,2,3
C. rossi,0,0,0,0,0,0,0,0

In [6]:
CI = count_inf(infortunati(giornata = 2), rose()) #restituisce il numero di infortunati in ogni rosa
CI

,XYZ,MAINZ NA GIOIA,I DISEREDATI,PALLA PAZZA,AS 800A,PDG 1908,SOROS FC,IGNORANZA EVERYWHERE
tot Infortunati,5,4,0,2,4,5,2,3

In [4]:
tot = IGNOBEL_tot(giornata=2) # a causa di ritardi di connessione, potrebbe dare errore le prime volte: in tal caso far girare nuovamente
tot

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Fantapunti Fatti,73.00,70.25,77.00,64.25,70.50,74.75,73.25,74.50
Fantapunti Subiti,70.25,73.00,64.25,77.00,74.75,70.50,74.50,73.25
Goal subiti,2.00,3.00,2.00,1.00,3.00,1.00,1.00,0.00
C. gialli,3.00,1.00,1.00,3.00,1.00,1.00,2.00,3.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,1.75,0.00,0.00,0.75,3.50,0.75,1.50
Modificatore,0.00,1.50,0.00,0.00,1.00,1.00,0.00,0.50
tot Infortunati,5.00,0.00,5.00,4.00,2.00,3.00,2.00,4.00

In [5]:
#tot.to_pickle("Dati_storici/Giornata_2.pkl")

In [8]:
G2 = pd.read_pickle("Dati_storici/Giornata_2.pkl")
#G2.to_csv("Dati_storici/Giornata_2.csv")
G2

,PDG 1908,I DISEREDATI,XYZ,MAINZ NA GIOIA,PALLA PAZZA,IGNORANZA EVERYWHERE,SOROS FC,AS 800A
Fantapunti Fatti,73.00,70.25,77.00,64.25,70.50,74.75,73.25,74.50
Fantapunti Subiti,70.25,73.00,64.25,77.00,74.75,70.50,74.50,73.25
Goal subiti,2.00,3.00,2.00,1.00,3.00,1.00,1.00,0.00
C. gialli,3.00,1.00,1.00,3.00,1.00,1.00,2.00,3.00
C. rossi,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Bonus Panchinari,0.00,1.75,0.00,0.00,0.75,3.50,0.75,1.50
Modificatore,0.00,1.50,0.00,0.00,1.00,1.00,0.00,0.50
tot Infortunati,5.00,0.00,5.00,4.00,2.00,3.00,2.00,4.00

In [3]:
#voti_all = scarica_voti(giornata = 3, stagione = '2020-21')
#scarica il dataframe con tutti i voti direttamente da fantacalcio.it

In [2]:
storico_individuale(nome = 'emiliano', giornata = 2) 
#crea un dataframe individuale con le informazioni utili per gli IGNOBEL, con i dati fino alla giornata scelta
#i dati vengono pescati dai pkl contenuti nella cartella Dati_storici

0 gg     pf     ps gs  c   pan  mod inf      nome
1  1   67.5  72.25  3  3  1.75    0   3  emiliano
2  2  70.25     73  3  1  1.75  1.5   0  emiliano

In [9]:
#crea 8 dataframe individuali con i dati aggiornati fino alla giornata indicata
aggiorna_database(giornata = 2)

Dati aggiornati fino alla 2 giornata

In [3]:
stats_by_team()

,Id,R,Nome,Squadra,Pg,Mv,Mf,Gf,Gs,Rp,Rc,R+,R-,Ass,Asf,Amm,Esp,Au,Nome Squadra,Allenatore
0,610,P,GOLLINI,Atalanta,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,XYZ,luca
1,159,P,SEPE,Parma,6,5.92,3.75,0,13,0,0,0,0,0,0,0,0,0,XYZ,luca
2,2211,P,SILVESTRI,Verona,5,6.40,6.00,0,2,0,0,0,0,0,0,0,0,0,XYZ,luca
3,1864,D,BRUNO ALVES,Parma,3,5.33,5.00,0,0,0,0,0,0,0,0,2,0,0,XYZ,luca
4,2759,D,CRISCITO,Genoa,0,0.00,0.00,0,0,0,0,0,0,0,0,0,0,0,XYZ,luca
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2819,A,CAPUTO,Sassuolo,5,7.00,10.40,4,0,0,1,1,0,2,0,0,0,0,IGNORANZA EVERYWHERE,mario
196,495,A,CORREA,Lazio,5,5.40,5.40,0,0,0,0,0,0,0,0,0,0,0,IGNORANZA EVERYWHERE,mario
197,2196,A,GALABINOV,Spezia,3,7.00,10.00,3,0,0,0,0,0,0,0,0,0,0,IGNORANZA EVERYWHERE,mario
198,568,A,QUAGLIARELLA,Sampdoria,5,6.60,8.40,3,0,0,2,1,1,0,0,0,0,0,IGNORANZA EVERYWHERE,mario
199,2475,A,SANCHEZ,Inter,4,6.75,7.75,0,0,0,0,0,0,2,0,0,0,0,IGNORANZA EVERYWHERE,mario